.movies {
    // didn't put movie here because of performace consideration.
    margin: 2rem;
}
.movie {
    max-width: 50rem;
    margin: 2rem auto;
    height: 15.5rem;
    display: flex;
    padding: 0;
    & > div {
        flex: 0 1 calc(50% - 1rem);
    }
    &__img{
        position: relative;
        width: 25.2rem;
        img {
            // width: 25rem;
            border-radius: 0.5rem 0 0 0.5rem;
        }
    }
    &__info {
        padding: 2rem 3rem;
        background-color: $color-bg;
        transform: skewX(-10deg);
    }
    &__title {
        font-weight: bold;
        font-size: 2.2rem;
        color: $color-primary;
        transform: skewX(10deg);
    }
    &__year {
        font-size: 1.9rem;
        transform: skewX(10deg);
    }
}
